
@media(max-width: 1500px) {
  .blue_text_box {
    width: 70%;
  }

  .console_text_box {
    width: 70%;
  }

  .ps3 {
    left: 30px;
    top: 1267px;
    width: 37%;
  }

  .donkey {
    right: 2%;
    top: 876px;
    width: 30%;
    position: absolute;
  }

  .menu {

  margin-left: 26%;
  }

  .orange_text_box {
    width: 70%;
    margin-right: 3%;
    margin-left: 30%;
    margin-top: 2%;
    margin-bottom: 10%;
    height: auto;
  }

  .donkey_text_box {
    width: 54%;
    margin-left: 3%;
    margin-right: 38%;
    margin-top: 2%;
    margin-bottom: 10%;
  }

  .link {

  right: 53%;
  width: 60%;
  top: -86%;
  }

  .mario {
    width: 200px;
    height: 300px;
    right:;
    float: right;
    top: -45%;
    right: -6%;
  }

  .games_text_box {

    width: 56%;
    height: 42%;
  }

  .games_text_box2 {
    width: 60%;
  }

  .games_text_box2 p {
    font-size: large;
  }

  .sonic {left: 6%;top: 1386px;width: 18%;position: absolute;}

  .sonic_text_box {
    width: 54%;
    margin-right: 3%;
    margin-left: 38%;
    margin-top: 2%;
    margin-bottom: 10%;
  }

  .pacman {right: 0;top: 1921px;width: 29%;position: absolute;position: a;}

  .pacman_text_box {
    width: 54%;
    margin-left: 3%;
    margin-right: 38%;
    margin-top: 2%;
    margin-bottom: 10%;
  }

  .switch {
  right: 53px;
  top: 1945px;
  width: 35%;
  position: absolute;
  }

}

@media(max-width: 1000px) {

  .mobile_menu {

  display: block;
  width: 100%;
  height: auto;
  background-color: rgba(76, 212, 176, 1);
  z-index: 23;
  }

  .menu_item a {
    font-size: xx-large;
  }

  .mario {
    display: none;
  }

  .top_panel {
    width: 100%;
    height: auto;
    flex-direction: column;
    background: rgba(76, 212, 176, .80);
    position: fixed;
    z-index: 22;
  }

  main {
    padding-bottom: 30%;
    padding-top: 30%;
  }

  .logo_pic {
    margin: 0;
    padding: 2%;
    width: 100px;
    height: 100px;
    display: none;
  }
  .logo_name {
    font-size: xxx-large;
  }
  .logo_description {
    font-size: large;
  }
  .name {
    margin: 0;
    padding: 3%;
    display: none;
  }

  .menu_box {
    width: 100%;
  }

  .link {
    display: none;
  }

   .orange_text_box {
    margin: auto;
    width: 100%;
    height: auto;
    padding: 1%;
  }

  .orange_text_box h1 {
    font-size: xxx-large;
    width: auto;
  }

  .orange_text_box p {
    font-size: x-large;
  }


  .donkey_text_box {
    margin: auto;
    width: 100%;
    height: auto;
    padding: 1%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .donkey_text_box h1 {
    font-size: xxx-large;
    width: auto;
  }

  .donkey_text_box p {
    font-size: x-large;
  }


.pacman_text_box {
  margin: auto;
  width: 100%;
  height: auto;
  padding: 1%;
}

.pacman_text_box h1 {
  font-size: xxx-large;
  width: auto;
}

.pacman_text_box p {
  font-size: x-large;
}


  .sonic_text_box {
    margin: auto;
    width: 100%;
    height: auto;
    padding: 1%;
  }

  .sonic_text_box h1 {
    font-size: xxx-large;
    width: auto;
  }

  .sonic_text_box p {
    font-size: x-large;
  }

  .blue_text_box {
    margin: auto;
    width: 100%;
    height: 100%;
  }

  .blue_text_box h1 {
    font-size: xxx-large;
  }

  .blue_text_box p {
    font-size: x-large;
  }
  .blue_background_box {
    width: 100%;
    height: 100%;
    display: inline;
    z-index: 1;
  }

  .console_text_box {
    margin: auto;
    width: 100%;
    height: 100%;
  }

  .console_text_box h1 {
    font-size: xxx-large;
  }

  .console_text_box p {
    font-size: x-large;
  }
  .console_background_box {
    width: 100%;
    height: 100%;
    display: inline;
    z-index: 1;
  }

  .menu {

  flex-direction: column;
  width: 100%;
    height: auto;
  margin: auto;
  position: fixed;
 background: rgba(76, 212, 176, .80);
  transition: top 0.25s ease-in-out;
  top: 130px;
  }

  .menu.hidden {
      top: -300px;
  }

  .megaman {
    display: none;
  }

  .games_text_box2 {
    display: none;
  }

  .games_text_box {
    margin: auto;
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
    z-index: 0;
  }

  .games_text_box h1 {
    font-size: xxx-large;
  }

  .games_text_box p {
    font-size: x-large;
    display: block;
  }

  .donkey {
    display: none;
  }

  .sonic {
    display: none;
  }

  .pacman {
    display: none;
  }

  .sonic_box {
    margin-bottom: 20%;
  }

  .ps2 {
    display: none;
  }

  .atari {
    display: none;
  }

  .ps3 {
    display: none;
  }

  .switch {
    display: none;
  }
}
