
@media(max-width: 1500px) {
  .blue_text_box {
    width: 70%;
  }

  .donkey {

  right: -109%;
  bottom: 133%;
  width: 61%;
  position: relative;
}

  .menu {

  margin-left: 26%;
  }

  .orange_text_box {
    width: 70%;
    margin-right: 3%;
    margin-left: 30%;
    margin-top: 2%;
    margin-bottom: 10%;
    height: auto;
  }

  .donkey_text_box {
    width: 54%;
    margin-left: 3%;
    margin-right: 38%;
    margin-top: 2%;
    margin-bottom: 10%;
    /*! height: auto; */
  }

  .link {

  right: 53%;
  width: 60%;
  /*! height: auto; */
  /*! bottom: 87%; */
  top: -86%;
  }

  .mario {
    width: 200px;
    height: 300px;
    /*! top: 0; */
    right:;
    /*! left: %; */
    float: right;
    top: -45%;
    right: -6%;
  }

  .games_text_box {

    width: 56%;
    height: 42%;
  }

  .games_text_box2 {
    width: 60%;
  }

  .games_text_box2 p {
    font-size: large;
  }
}

@media(max-width: 1000px) {

  .mobile_menu {

  display: block;
  width: 100%;
  height: auto;
  background-color: rgba(76, 212, 176, 1);
  z-index: 22;
  }

  .menu_item a {
    font-size: xx-large;
  }

  .mario {
    display: none;
  }

  .top_panel {
    /*! padding: 3%; */
    width: 100%;
    height: auto;
    flex-direction: column;
    /*! opacity: 1; */
    background: rgba(76, 212, 176, .80);
    position: fixed;
  }

  main {
    /*! padding-top: 20%; */
    padding-bottom: 30%;
    padding-top: 30%;
  }

  .logo_pic {
    margin: 0;
    padding: 2%;
    width: 100px;
    height: 100px;
    display: none;
  }
  .logo_name {
    font-size: xxx-large;
  }
  .logo_description {
    font-size: large;
  }
  .name {
    margin: 0;
    padding: 3%;
    display: none;
  }

  .menu_box {
    /*! display: none; */
    width: 100%;
  }

  .link {
    display: none;
  }

   .orange_text_box {
    margin: auto;
    width: 100%;
    height: auto;
    padding: 1%;
  }

  .orange_text_box h1 {
    font-size: xxx-large;
    width: auto;
  }

  .orange_text_box p {
    font-size: x-large;
    /*! margin: 0; */
    /*! padding: 1%; */
  }
  .orange_background_box {
    /*! width: auto; */
    /*! height: 100%; */
    /*! display: inline; */
    /*! width: auto; */
}

  .donkey_text_box {
    margin: auto;
    width: 100%;
    height: auto;
    padding: 1%;
  }

  .donkey_text_box h1 {
    font-size: xxx-large;
    width: auto;
  }

  .donkey_text_box p {
    font-size: x-large;
    /*! margin: 0; */
    /*! padding: 1%; */
  }
  .donkey_background_box {
    /*! width: auto; */
    /*! height: 100%; */
    /*! display: inline; */
    /*! width: auto; */
}

  .blue_text_box {
    margin: auto;
    width: 100%;
    height: 100%;
  }

  .blue_text_box h1 {
    font-size: xxx-large;
  }

  .blue_text_box p {
    font-size: x-large;
  }
  .blue_background_box {
    width: 100%;
    height: 100%;
    display: inline;
  }

  .menu {

  flex-direction: column;
  width: 100%;
    height: auto;
  margin: auto;
  /*! opacity: .50; */
  position: fixed;
 background: rgba(76, 212, 176, .80);
  transition: top 0.25s ease-in-out;
  top: 130px;
  }

  .menu.hidden {
      top: -300px;
  }

  .megaman {
    display: none;
  }

  .games_text_box2 {
    display: none;
  }

  .games_text_box {
    margin: auto;
    width: 100%;
    height: 100%;
  }

  .games_text_box h1 {
    font-size: xxx-large;
  }

  .games_text_box p {
    font-size: x-large;
    display: block;
  }

  .donkey {
    display: none;
  }

}
